<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.CAPTURE_AUDIO_OUTPUT"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearnPiano"
        android:usesCleartextTraffic="true"
        tools:replace="android:fullBackupContent"
        tools:targetApi="31">
        <activity
            android:name=".screens.piano.NTDViewPianoTwoPlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.drum.NTDViewStyleDrumActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.piano.piano_style.NTDViewPianoStyleActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.permission.NTDViewPermissionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NTDViewMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.piano.NTDViewPianoActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.language.NTDViewLanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.piano.NTDViewDoubleKeyActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.policy.NTDViewPolicyActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.splash.NTDViewSplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.intro.NTDViewIntroActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.guitar.NTDViewGuitarActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.drum.NTDViewDrumeActivity"
            android:exported="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".screens.record.NTDViewRecordDetail"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".screens.saxophone.NTDViewSaxophoneActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.piano.keyboard.synthesia.learnpiano.play.music.contentprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name=".service.NTDMyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" />
    </application>

</manifest>